#form {
    margin: auto;
    width: 50%;
    border: 3px solid black;
    background-color: paleturquoise;
    padding: 10px;
}
#submitBtn {
    margin: 0 auto;
    display: block;
    text-align: center;
    background-color: green;

}