#form {
    margin: auto;
    width: 30%;
    border: 3px solid black;
    background-color: gainsboro;
    padding: 10px;
}
#submitBtn {
    margin: 0 auto;
    display: block;
    text-align: center;
    background-color: green;

}
#nextBtn {
    margin: 0 auto;
    display: block;
    text-align: center;
    background-color: yellow;

}